html,
body,
#root,
.bg,
canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: #171717;
	font-family: "Inter var", sans-serif;
}

.bg {
	background: rgb(237, 184, 6);
	/* background: radial-gradient(
		circle,
		rgb(8, 7, 7) 0%,
		rgba(0, 0, 0, 0.671) 45%,
		rgb(35, 36, 39) 99%
	); */
}
